<h1>Cocktail Preparation</h1>

<%= @cocktail.name %> <br><br>
<h3>Ingredients</h3>
<% @ing = Dose.where(cocktail_id: @cocktail.id)%>
<% @ing.each do |dose| %>
<%= Ingredient.find(dose.ingredient_id).name %>
<% end %>

<%= link_to 'Go back to cocktails', cocktails_path %>
<%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %>


